<ion-content color="light" >
  <ion-list [inset]="true" class="icontent">
    <ion-item *ngFor="let estudiante of estudiantes">
      <ion-label>{{estudiante.nombre}}</ion-label>
      <ion-label>{{estudiante.apellido}}</ion-label>
    </ion-item>
    
  </ion-list>
  <ion-button class="tamañoboton" id="open-modal" expand="block">Abrir formulario</ion-button>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <form #estudiantePost="ngForm" (ngSubmit)="onSubmit(estudiantePost.value)" >
            <ion-label position="stacked">Ingresa el nombre</ion-label>
            <ion-input name="nombre" type="text" placeholder="Your name" ngModel></ion-input>
            <ion-label position="stacked">Ingresa el apellido</ion-label>
            <ion-input name="apellido" type="text" placeholder="Your name" ngModel></ion-input>
            <ion-button type="submit" >Subir</ion-button>
          </form>
          
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

